<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div class="banner">
        <center><img src="http://www.kobebryantshoes-inc.com/includes/templates/kobe/images/banner.jpg" class="img-responsive"></img></center>
    </div>
    
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Kobe</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/Biography">Biography</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/charity">Charity</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container">
      <div class="col-md-12">
        <div id="kobe">
          <center><h1>Biography</h1></center>
          <p>Kobe Bryant was born on August 23, 1978 in Philadelphia, Pennsylvania. (Click here for today's sports birthdays.) His parents, Joe and Pam, already had two girls, Sharia and Shaya. Kobe was their third and final child. Life in the Bryant family was not your normal everyday existence. Joe, a playground hoops legend from Philly’s John Bartram High School, was in the midst of a scattershot pro basketball career that took him to three different countries.</p>
          <p>In his second season as guard, with the Lakers, Bryant was voted a starter for the 1998 All-Star Game, becoming at 19 the youngest All-Star in NBA history. He then teamed up with superstar center Shaquille O'Neal to win three consecutive NBA championships, and was voted first-team all-NBA from 2002-04. He also inked multi-year endorsement deals with Adidas, Sprite and other top sponsors.</p>
          <img src="http://d236bkdxj385sg.cloudfront.net/wp-content/uploads/2012/09/Kobe-Bryant.jpg" width="1200px" height="600px" class="img-responsive"></img>
          <br>
          <center><h1>Statistics</h1></center>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Year</th>
                  <th>Team</th>
                  <th>Games Played</th>
                  <th>Games Started</th>
                  <th>Minutes Per Game</th>
                  <th>Points Per Game</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>2009-10</td>
                  <td>LAL</td>
                  <td>73</td>
                  <td>73</td>
                  <td>38.8</td>
                  <td>27.0</td>
                </tr>
                <tr>
                  <td>2010-11</td>
                  <td>LAL</td>
                  <td>82</td>
                  <td>82</td>
                  <td>33.9</td>
                  <td>25.3</td>
                </tr>
                <tr>
                  <td>2011-12</td>
                  <td>LAL</td>
                  <td>58</td>
                  <td>58</td>
                  <td>38.5</td>
                  <td>27.9</td>
                </tr>
                <tr>
                  <td>2012-13</td>
                  <td>LAL</td>
                  <td>78</td>
                  <td>78</td>
                  <td>38.6</td>
                  <td>27.3</td>
                </tr>
                <tr>
                  <td>2013-14</td>
                  <td>LAL</td>
                  <td>6</td>
                  <td>6</td>
                  <td>29.5</td>
                  <td>13.8</td>
                </tr>
                <tr>
                  <td>2014-15</td>
                  <td>LAL</td>
                  <td>35</td>
                  <td>35</td>
                  <td>34.5</td>
                  <td>22.3</td>
                </tr>
                <tr>
                  <td>2015-16</td>
                  <td>LAL</td>
                  <td>66</td>
                  <td>66</td>
                  <td>28.2</td>
                  <td>17.6</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <br>
    
     <footer class="footer">
          <div class="container">
            <div class="col-md-12">
              <p>Created By Sheikh Jobe</p>
            </div>
          </div>
    </footer>
</body>
</html>

       