<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div class="banner">
        <center><img src="http://www.kobebryantshoes-inc.com/includes/templates/kobe/images/banner.jpg" class="img-responsive"></img></center>
    </div>
    
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Kobe</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/">Home</a></li>
            <li><a href="/Biography">Biography</a></li>
            <li><a href="/contact">Contact</a></li>
            <li class="active"><a href="/charity">Charity</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
     <div class="container">
      <div class="col-md-12">
        <div id="kobe">
          <center><h1>Charity</h1></center>
          <p>The Choose Life Foundation was established to raise awareness on the importance of learning how to experience life the right way.  So often we hear of tragic events that happen where young people lose their lives as a result of the decisions they make.  But we have to do more than just shake our heads when tragedies like this happen-the I Choose Life Campaign is taking a step in that direction.
          <br>
          The  Campaign will undertake several initiatives in our quest to raise awareness.  Here are a few:<br>
          <ul>
            <li>Host an Annual Benefit Party for the Campaign</li>
            <li>Maintain a Choose Life Blog as a means of expression</li>
            <li>Develop and Disseminate The Choose Life Pledge</li>
            <li>Design and Distribute Choose Life T-Shirts</li>
            <li>Host Forums, Panel Discussions and Town Hall Style Meetings on Decision Making</li>
          </ul>
          <p>To read more information, visit <a href="www.ChooseLifeFoundation.org">www.ChooseLifeFoundation.org</a></p>
          <br>
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_gV9wRq2uFI"></iframe>
          </div>
          </p>
        </div>
       </div>
      </div>
    <footer class="footer">
          <div class="container">
            <div class="col-md-12">
              <p>Created By Sheikh Jobe</p>
            </div>
          </div>
    </footer>
     
</body>