<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
    <div class="banner">
        <center><img src="http://www.kobebryantshoes-inc.com/includes/templates/kobe/images/banner.jpg" class="img-responsive"></img></center>
    </div>
    
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Kobe</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/Biography">Biography</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/charity">Charity</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cpVAGkrOXWE"></iframe>
        </div>
    </div>
    <br><br>
    <div class="container">
      <div class="col-md-12">
        <div id="kobe">
        <center><h1>Kobe</h1></center>
        <p>Kobe Bean Bryant (born August 23, 1978) is an American retired professional basketball player. He played his entire 20-year with the Los Angeles Lakers of the National Basketball Association (NBA). He entered the NBA directly from high school and won five NBA championships with the Lakers. Bryant is an 18-time All-Star, 15-time member of the All-NBA Team, and 12-time member of the All-Defensive team. He led the NBA in scoring during two seasons, and ranks third on both the league's all-time regular season scoring and all-time postseason scoring lists. After beginning his 20th season with the Lakers in 2015–16, which set an NBA record for the most seasons with the same team, Bryant announced that he would retire after the season.</p>
        <br>
        <center><h1>Kobe Bryant's Final Game Farewell Speech</h1></center>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pOHQWCqNV9E"></iframe>
        </div>
        </div>
      </div>
    </div>
    <br>
    
     <footer class="footer">
          <div class="container">
            <div class="col-md-12">
              <p>Created By Sheikh Jobe</p>
            </div>
          </div>
    </footer>
    
</body>
</html>